@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(./images/paperBG.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: white;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body header {
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav {
  font-size: 16pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50%;
}

body header nav .active {
  color: cyan;
  text-shadow: 0 0 2px cyan;
  opacity: 0.9;
  pointer-events: none;
}

body header nav i {
  display: block;
  opacity: 0.3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  padding: 16px;
  position: relative;
}

body header nav i span {
  display: none;
  font-size: 10pt;
  font-weight: 100;
  position: absolute;
  left: 50%;
  bottom: -3px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body header nav i:hover {
  opacity: 1;
  color: cyan;
}

body header nav i:hover span {
  display: block;
}

body header .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  margin-bottom: 3vh;
}

body header .socials .cv-link {
  position: relative;
}

body header .socials .cv-link .resume-tag {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  top: 50%;
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
  left: 20px;
  font-size: 16pt !important;
}

body header .socials .cv-link .resume-tag img {
  display: block;
  width: 200px;
  height: 30px;
}

body header .socials i {
  color: white;
  opacity: 0.5;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body header .socials i:hover {
  opacity: 1;
  color: cyan;
  cursor: pointer;
}

body header .logo {
  position: relative;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body header .logo .logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: cyan;
  opacity: 0.4;
  font-weight: bold;
  font-size: 5pt;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body header .logo img {
  width: 50px;
}

body header .logo:hover {
  cursor: pointer;
  -webkit-filter: brightness(180%);
          filter: brightness(180%);
}

body header .logo:hover .logo-text {
  opacity: 1;
  font-size: 8pt;
}

body .mute-tag {
  position: absolute;
  right: 170%;
  top: 340%;
  font-size: 15pt !important;
  width: 74px;
}

body .mute-tag img {
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 80px;
  left: 100%;
  bottom: 40px;
}

body .mute {
  position: absolute;
  z-index: 4;
  top: 50px;
  right: 10px;
  padding: 2px;
  background-color: #1e1e1e;
  cursor: pointer;
}

body .mute .mute-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12pt;
}

body .left-container {
  right: 350px;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  width: 500px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

body .left-container .click-to-play {
  position: absolute;
  bottom: -25%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 16pt;
}

body .left-container .reverse {
  border-left: 2px solid white;
  border-right: 2px solid white;
  -webkit-animation: rollrev 4.8s linear infinite;
          animation: rollrev 4.8s linear infinite;
}

body .left-container .roll {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-animation: roll 4.8s linear infinite;
          animation: roll 4.8s linear infinite;
}

body .left-container .circle {
  height: 100%;
  width: 50%;
  border-radius: 100%;
  position: relative;
  opacity: 0.5;
}

body .left-container .circle .note {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  width: 4%;
  height: 4%;
  background-color: white;
  border-radius: 50%;
}

body .left-container .circle .note-a {
  -webkit-transform: translate(-50%, -50%) translateX(1250%);
          transform: translate(-50%, -50%) translateX(1250%);
}

body .left-container .circle .note-b {
  -webkit-transform: translate(-50%, -50%) translateX(-1250%);
          transform: translate(-50%, -50%) translateX(-1250%);
}

body .left-container .circle .note-c {
  -webkit-transform: translate(-50%, -50%) translateY(1250%);
          transform: translate(-50%, -50%) translateY(1250%);
}

body .left-container .circle .note-d {
  -webkit-transform: translate(-50%, -50%) translateY(-1250%);
          transform: translate(-50%, -50%) translateY(-1250%);
}

body .left-container .snears {
  position: absolute;
  width: 80%;
  height: 75%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .left-container .snears .string {
  position: relative;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .left-container .snears .snear {
  position: absolute;
  height: 1px;
  border: 1px solid white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 50%;
}

body .left-container .right-container-container {
  position: absolute;
  width: 80%;
  height: 80%;
  right: -65%;
  bottom: -25%;
}

body .left-container .right-container-container .right-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .left-container .right-container-container .right-container .reverse {
  border-color: cyan;
}

body .left-container .right-container-container .right-container .roll {
  border-color: cyan;
}

body .left-container .right-container-container .right-container .circle .note {
  background-color: cyan;
}

body .left-container .right-container-container .right-container .snear {
  border: 1px solid cyan;
}

.tag {
  color: #6f6f6f;
  font-family: "Yellowtail", cursive;
  -webkit-transition: 0.8s 0.6s;
  transition: 0.8s 0.6s;
}

.skill-icons {
  -webkit-transition: 0.8s 0.6s;
  transition: 0.8s 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 18%;
}

.skill-icons i {
  font-size: 32pt;
  padding: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
  margin-bottom: 15px;
}

.skill-icons i span {
  position: absolute;
  text-align: center;
  width: 130%;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 8pt;
  color: cyan;
  opacity: 0;
}

.skill-icons i:hover {
  color: cyan;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.skill-icons i:hover span {
  opacity: 1;
}

.h1-text {
  font-size: 36pt;
  -webkit-transition: 0.8s 0.6s;
  transition: 0.8s 0.6s;
}

.h1-text strong {
  color: cyan;
}

.p-text {
  width: 30%;
  -webkit-transition: 0.8s 0.6s;
  transition: 0.8s 0.6s;
}

.contact-button {
  margin: 10px;
  -webkit-transition: 0.8s 0.6s margin;
  transition: 0.8s 0.6s margin;
  padding: 8px 20px;
  font-size: 14pt;
  font-weight: 100;
  color: cyan;
  border: 1px solid cyan;
  background-color: transparent;
  outline: none;
}

.contact-button:hover {
  background-color: cyan;
  color: #1e1e1e;
  -webkit-box-shadow: 0 0 6px cyan;
          box-shadow: 0 0 6px cyan;
  font-weight: 400;
  cursor: pointer;
}

.active-page {
  left: 60px !important;
}

.active-page .html {
  padding-left: 2%;
}

.active-page .body {
  padding-left: 5%;
}

.active-page .p {
  padding-left: 8%;
}

.active-page .text {
  margin-left: 11%;
}

.page {
  top: 5vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: absolute;
  left: -100%;
  width: 100%;
  height: 90vh;
}

.page .pro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-page .profile-pic {
  width: 160px;
  border: 1px solid cyan;
  -webkit-transition: 0.8s 0.6s;
  transition: 0.8s 0.6s;
}

.skills-page {
  z-index: 2;
}

.skills-page .pro-link {
  color: cyan;
  text-decoration: underline;
  cursor: pointer;
}

.skills-page .pro-link:hover {
  text-decoration: none;
}

.skills-page .skills-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 50vw;
  height: 50vw;
  background-color: rgba(0, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-page .skills-container .plane-gear {
  position: absolute;
  width: 50%;
  left: -27%;
  top: 25%;
  -webkit-animation: rollrev 24s linear infinite;
          animation: rollrev 24s linear infinite;
}

.skills-page .skills-container .html-gear {
  position: absolute;
  width: 35%;
  left: 20%;
  top: 33%;
  -webkit-animation: roll 18s linear infinite;
          animation: roll 18s linear infinite;
}

.skills-page .skills-container .css-gear {
  position: absolute;
  width: 20%;
  top: 19.5%;
  left: 40.5%;
  -webkit-animation: rollrev 12s linear infinite;
          animation: rollrev 12s linear infinite;
}

.skills-page .skills-container .javascript-gear {
  position: absolute;
  width: 20%;
  bottom: 23.5%;
  left: 46.3%;
  -webkit-animation: rollrev 12s linear infinite;
          animation: rollrev 12s linear infinite;
}

.skills-page .skills-container .svg-gear {
  position: absolute;
  width: 10%;
  top: 28.2%;
  left: 59%;
  -webkit-animation: roll 9s linear infinite;
          animation: roll 9s linear infinite;
}

.skills-page .skills-container .scss-gear {
  position: absolute;
  width: 15%;
  top: 6%;
  left: 40.3%;
  -webkit-animation: roll 9s linear infinite;
          animation: roll 9s linear infinite;
}

.skills-page .skills-container .react-gear {
  position: absolute;
  width: 17%;
  bottom: 15%;
  left: 34%;
  -webkit-animation: roll 9s linear infinite;
          animation: roll 9s linear infinite;
}

.project-page {
  z-index: 2;
}

.project-page .project-slider {
  width: 45%;
  height: 85%;
  margin-left: 2vw;
  position: relative;
  overflow: hidden;
}

.project-page .project-slider .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.3);
  pointer-events: none;
}

.project-page .project-slider .x0 {
  left: -50%;
  z-index: 0 !important;
}

.project-page .project-slider .x1 {
  left: 0;
}

.project-page .project-slider .x2 {
  left: 50%;
}

.project-page .project-slider .x3 {
  left: 100%;
  z-index: 0 !important;
}

.project-page .project-slider .x4 {
  left: 99.9%;
}

.project-page .project-slider .y0 {
  top: -33.4%;
  z-index: 0 !important;
}

.project-page .project-slider .y1 {
  top: 0;
}

.project-page .project-slider .y2 {
  top: 33.4%;
}

.project-page .project-slider .y3 {
  top: 66.7%;
}

.project-page .project-slider .y4 {
  top: 100%;
  z-index: 0 !important;
}

.project-page .project-slider .moving {
  z-index: 0 !important;
  top: -33.5%;
  left: -50%;
}

.project-page .project-slider .pro {
  position: absolute;
  width: 50%;
  height: 33.4%;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.project-page .project-slider .pro .name {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(30, 30, 30, 0.4), rgba(30, 30, 30, 0.7));
  font-size: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.project-page .project-slider .pro .name .tools {
  width: 100%;
  text-align: center;
}

.project-page .project-slider .pro .name i {
  margin: 2%;
}

.project-page .project-slider .pro .name:hover {
  opacity: 1;
  cursor: pointer;
}

.project-page .project-slider .pro .name .cloud {
  position: relative;
}

.project-page .project-slider .pro .name .cloud div {
  position: absolute;
  font-size: 8pt;
  color: #a05f6a;
  top: 40%;
  left: 20%;
}

.project-page .pro-text {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
}

.contact-page {
  z-index: 2;
}

.contact-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.8s 0.6s;
  transition: 0.8s 0.6s;
  width: 30%;
  position: relative;
}

.contact-page form input {
  background-color: #2c2c2c;
  padding: 5px 10px;
  border: none;
  margin: 2px 0;
  outline: none;
  color: white;
  border-bottom: 2px solid #2c2c2c;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-transition-property: margin border-bottom;
  transition-property: margin border-bottom;
}

.contact-page form input::-webkit-input-placeholder {
  color: #474747;
}

.contact-page form input:-ms-input-placeholder {
  color: #474747;
}

.contact-page form input::-ms-input-placeholder {
  color: #474747;
}

.contact-page form input::placeholder {
  color: #474747;
}

.contact-page form input:focus {
  border-bottom: 2px solid cyan;
}

.contact-page form textarea {
  background-color: #2c2c2c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid #2c2c2c;
  margin: 2px 0;
  outline: none;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  resize: vertical;
}

.contact-page form textarea::-webkit-input-placeholder {
  color: #474747;
}

.contact-page form textarea:-ms-input-placeholder {
  color: #474747;
}

.contact-page form textarea::-ms-input-placeholder {
  color: #474747;
}

.contact-page form textarea::placeholder {
  color: #474747;
}

.contact-page form textarea:focus {
  border-bottom: 2px solid cyan;
}

.contact-page form .button {
  color: cyan;
  background-color: transparent;
  border: 1px solid cyan;
  width: 20%;
  padding: 5px;
  margin-left: 80%;
  margin-top: 10px;
  font-weight: 100;
}

.contact-page form .button:hover {
  background-color: cyan;
  color: #1e1e1e;
  -webkit-box-shadow: 0 0 6px cyan;
          box-shadow: 0 0 6px cyan;
  font-weight: 400;
  cursor: pointer;
}

.contact-page form #form-status {
  position: absolute;
  color: cyan;
  bottom: 2px;
  text-shadow: 1px 1px 12px cyan;
  text-align: center;
  font-size: 10pt;
  width: 80%;
  height: 28px;
  line-height: 28px;
}

.contact-page .map {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.contact-page .contact-info {
  position: absolute;
  right: 35%;
  top: 35px;
  z-index: 1;
  background-color: #161616;
  padding: 10px 15px;
  line-height: 16pt;
  font-size: 11pt;
  font-weight: 100;
}

.contact-page .contact-info .name {
  color: cyan;
  font-size: 16pt;
  font-weight: 900;
}

@-webkit-keyframes roll {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roll {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rollrev {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rollrev {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes string {
  6% {
    border-color: white transparent transparent transparent;
    height: 11px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  12% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  18% {
    border-color: transparent transparent white transparent;
    height: 11px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  24% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  30% {
    border-color: white transparent transparent transparent;
    height: 8px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  36% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  42% {
    border-color: transparent transparent white transparent;
    height: 8px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  50% {
    border-color: white transparent transparent transparent;
    height: 5px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  56% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  62% {
    border-color: transparent transparent white transparent;
    height: 5px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  68% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  74% {
    border-color: white transparent transparent transparent;
    height: 2px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  80% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  86% {
    border-color: transparent transparent white transparent;
    height: 2px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
}

@keyframes string {
  6% {
    border-color: white transparent transparent transparent;
    height: 11px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  12% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  18% {
    border-color: transparent transparent white transparent;
    height: 11px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  24% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  30% {
    border-color: white transparent transparent transparent;
    height: 8px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  36% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  42% {
    border-color: transparent transparent white transparent;
    height: 8px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  50% {
    border-color: white transparent transparent transparent;
    height: 5px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  56% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  62% {
    border-color: transparent transparent white transparent;
    height: 5px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  68% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  74% {
    border-color: white transparent transparent transparent;
    height: 2px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  80% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
  86% {
    border-color: transparent transparent white transparent;
    height: 2px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px white;
            box-shadow: 0 0 4px white;
  }
}

@-webkit-keyframes stringtwo {
  6% {
    border-color: cyan transparent transparent transparent;
    height: 10px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  12% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  18% {
    border-color: transparent transparent cyan transparent;
    height: 10px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  24% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  30% {
    border-color: cyan transparent transparent transparent;
    height: 7px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  36% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  42% {
    border-color: transparent transparent cyan transparent;
    height: 7px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  50% {
    border-color: cyan transparent transparent transparent;
    height: 4px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  56% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  62% {
    border-color: transparent transparent cyan transparent;
    height: 4px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  68% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  74% {
    border-color: cyan transparent transparent transparent;
    height: 2px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  80% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  86% {
    border-color: transparent transparent cyan transparent;
    height: 2px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
}

@keyframes stringtwo {
  6% {
    border-color: cyan transparent transparent transparent;
    height: 10px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  12% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  18% {
    border-color: transparent transparent cyan transparent;
    height: 10px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  24% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  30% {
    border-color: cyan transparent transparent transparent;
    height: 7px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  36% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  42% {
    border-color: transparent transparent cyan transparent;
    height: 7px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  50% {
    border-color: cyan transparent transparent transparent;
    height: 4px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  56% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  62% {
    border-color: transparent transparent cyan transparent;
    height: 4px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  68% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  74% {
    border-color: cyan transparent transparent transparent;
    height: 2px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  80% {
    height: 1px;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
  86% {
    border-color: transparent transparent cyan transparent;
    height: 2px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 4px cyan;
            box-shadow: 0 0 4px cyan;
  }
}

@media (min-width: 2000px) {
  body .left-container {
    right: 700px;
    width: 800px;
    height: 400px;
  }
}

@media (max-width: 1500px) {
  body .left-container {
    width: 500px;
    height: 250px;
    top: 300px;
    right: 10%;
  }
  body .left-container .click-to-play {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    bottom: -100%;
    font-size: 10pt;
  }
  body .left-container .right-container-container {
    left: 50%;
    bottom: -70%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  body .project-page .project-slider {
    width: 50%;
  }
  body .project-page .pro-text {
    left: 50%;
  }
  body .contact-page .map {
    max-width: 55%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1200px) {
  body .left-container {
    width: 450px;
    height: 225px;
    right: 10%;
  }
  body .h1-text {
    font-size: 28pt;
  }
  body .home-page h1 {
    font-size: 30pt;
  }
  body .page .pro-text .skill-icons i {
    font-size: 20pt;
  }
}

@media (max-width: 1024px) {
  body header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 60px;
    width: 100%;
    position: relative;
  }
  body header nav {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    padding-left: 5%;
  }
  body header nav i span {
    display: block;
  }
  body header .socials {
    display: none;
  }
  body .mute-tag,
  body .resume-tag {
    display: none;
  }
  body .left-container {
    width: 300px;
    height: 150px;
    left: 50%;
    top: 70%;
  }
  body .page .p-text {
    width: 45%;
  }
  body .page .skill-icons {
    width: 30%;
  }
  body .page .skill-icons i {
    font-size: 14pt;
  }
  body .page .skills-container {
    width: 35vw;
    height: 35vw;
  }
  body .page .project-slider {
    height: 70%;
  }
  body .page .pro-text .p-text {
    width: 25%;
  }
  body .page .pro-text .skill-icons i {
    font-size: 20pt;
    padding: 8px;
  }
  body .page .pro-text .skill-icons i span {
    font-size: 6pt;
    opacity: 1;
  }
  body .page .contact-info {
    display: none;
  }
  body .page form {
    width: 70%;
  }
  body .page .map {
    display: none;
  }
}

@media (max-width: 768px) {
  body .active-page {
    left: 0 !important;
  }
  body .skills-page {
    background-color: transparent;
  }
  body .page .p-text {
    width: 70%;
  }
  body .page .skills-container {
    display: none;
  }
  body .page .project-slider {
    top: 2%;
    width: 100%;
    height: 60%;
  }
  body .page .project-slider .overlay {
    display: none;
  }
  body .page .project-slider .pro .name {
    opacity: 1;
    font-size: 8pt;
    padding: 0;
  }
  body .page .project-slider .pro .name .tools {
    display: none;
  }
  body .page .pro-text {
    display: none;
  }
}

@media (max-width: 600px) {
  body .left-container {
    width: 200px;
    height: 100px;
    top: 75%;
  }
  body .page .profile-pic {
    width: 100px;
  }
  body .skills-page .skill-icons {
    width: 50%;
  }
}

@media (max-width: 480px) {
  body header nav i {
    padding: 8px;
    font-size: 10pt;
  }
  body header nav i span {
    font-size: 6pt;
  }
  body .mute {
    font-size: 8pt;
  }
  body .mute .mute-btn {
    font-size: 8pt;
  }
  body .page .h1-text {
    font-size: 20pt;
  }
  body .page .p-text {
    font-size: 9pt;
  }
  body .left-container {
    width: 150px;
    height: 75px;
    top: 75%;
    right: 5%;
  }
}

@media (min-height: 950px) {
  body .tag {
    font-size: 18pt;
  }
  body .p-text {
    font-size: 20pt;
  }
  body .h1-text {
    font-size: 54pt;
  }
  body .mute {
    font-size: 16pt;
  }
  body .mute .mute-btn {
    font-size: 16pt;
  }
  body .page .contact-button {
    font-size: 20pt;
  }
  body .page form .button {
    font-size: 20pt;
  }
  body .page .map {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-height: 1000px) {
  body .tag {
    font-size: 12pt;
  }
  body .p-text {
    font-size: 12pt;
  }
}

@media (max-height: 650px) {
  body header nav i {
    font-size: 12pt;
  }
  body header nav i span {
    font-size: 8pt;
    bottom: 1px;
  }
  body .page {
    top: 10vh;
    height: 80vh;
  }
  body .page .p-text {
    font-size: 8pt;
  }
  body .page div .img-tag,
  body .page div .profile-pic {
    display: none;
  }
  body .page form input {
    font-size: 9pt;
    height: 30px;
  }
  body .page form textarea {
    height: 60px;
  }
}

@media (max-height: 550px) {
  body .left-container {
    top: 50%;
  }
  body .page {
    top: 15vh;
  }
  body .page .tag {
    font-size: 7pt;
  }
  body .page .h1-text {
    font-size: 24pt;
  }
}

@media (max-height: 450px) {
  body .page .h1-text {
    font-size: 16pt;
  }
  body .page .contact-button {
    font-size: 10pt;
  }
  body .page form input {
    font-size: 6pt;
    height: 20px;
  }
  body .page form input::-webkit-input-placeholder {
    font-size: 6pt;
  }
  body .page form input:-ms-input-placeholder {
    font-size: 6pt;
  }
  body .page form input::-ms-input-placeholder {
    font-size: 6pt;
  }
  body .page form input::placeholder {
    font-size: 6pt;
  }
  body .page form textarea {
    font-size: 6pt;
    height: 30px;
  }
  body .page form textarea::-webkit-input-placeholder {
    font-size: 6pt;
  }
  body .page form textarea:-ms-input-placeholder {
    font-size: 6pt;
  }
  body .page form textarea::-ms-input-placeholder {
    font-size: 6pt;
  }
  body .page form textarea::placeholder {
    font-size: 6pt;
  }
}
/*# sourceMappingURL=style.css.map */