@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(./images/paperBG.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: white;
  overflow: hidden;
  user-select: none;

  header {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav {
      font-size: 16pt;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 50%;

      .active {
        color: cyan;
        text-shadow: 0 0 2px cyan;
        opacity: 0.9;
        pointer-events: none;
      }

      i {
        display: block;
        opacity: 0.3;
        transition: 0.2s;
        cursor: pointer;
        padding: 16px;
        position: relative;

        span {
          display: none;
          font-size: 10pt;
          font-weight: 100;
          position: absolute;
          left: 50%;
          bottom: -3px;
          transform: translate(-50%);
        }

        &:hover {
          opacity: 1;
          color: cyan;

          span {
            display: block;
          }
        }
      }
    }

    .socials {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 20%;
      margin-bottom: 3vh;

      .cv-link {
        position: relative;
        .resume-tag {
          position: absolute;
          display: flex;
          width: 320px;
          top: 50%;
          transform: translateY(-65%);
          left: 20px;
          font-size: 16pt !important;

          img {
            display: block;
            width: 200px;
            height: 30px;
          }
        }
      }

      i {
        color: white;
        opacity: 0.5;
        transition: 0.2s ease;

        &:hover {
          opacity: 1;
          color: cyan;
          cursor: pointer;
        }
      }
    }

    .logo {
      position: relative;
      padding: 5px;
      transition: 0.2s;

      .logo-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: cyan;
        opacity: 0.4;
        font-weight: bold;
        font-size: 5pt;
        transition: 0.3s;
      }

      img {
        width: 50px;
      }

      &:hover {
        cursor: pointer;
        filter: brightness(180%);
        .logo-text {
          opacity: 1;
          font-size: 8pt;
        }
      }
    }
  }

  .mute-tag {
    position: absolute;
    right: 170%;
    top: 340%;
    font-size: 15pt !important;
    width: 74px;

    img {
      position: absolute;
      transform: rotate(135deg);
      width: 80px;
      left: 100%;
      bottom: 40px;
    }
  }

  .mute {
    position: absolute;
    z-index: 4;
    top: 50px;
    right: 10px;
    padding: 2px;
    background-color: rgb(30, 30, 30);
    cursor: pointer;

    .mute-btn {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 12pt;
    }
  }
  .left-container {
    right: 350px;
    top: 50%;
    transform: translateY(-70%);
    width: 500px;
    height: 250px;
    display: flex;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: 0.4s ease;

    .click-to-play {
      position: absolute;
      bottom: -25%;
      left: 50%;
      transform: translate(-50%);
      font-size: 16pt;
    }

    .reverse {
      border-left: 2px solid white;
      border-right: 2px solid white;
      animation: rollrev 4.8s linear infinite;
    }

    .roll {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      animation: roll 4.8s linear infinite;
    }

    .circle {
      height: 100%;
      width: 50%;
      border-radius: 100%;
      position: relative;
      opacity: 0.5;

      .note {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        width: 4%;
        height: 4%;
        background-color: white;
        border-radius: 50%;
      }

      .note-a {
        transform: translate(-50%, -50%) translateX(1250%);
      }

      .note-b {
        transform: translate(-50%, -50%) translateX(-1250%);
      }

      .note-c {
        transform: translate(-50%, -50%) translateY(1250%);
      }

      .note-d {
        transform: translate(-50%, -50%) translateY(-1250%);
      }
    }

    .snears {
      position: absolute;
      width: 80%;
      height: 75%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .string {
        position: relative;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .snear {
        position: absolute;
        height: 1px;
        border: 1px solid white;
        transition: 0.5s ease;
        border-radius: 50%;
      }
    }
    .right-container-container {
      position: absolute;
      width: 80%;
      height: 80%;
      right: -65%;
      bottom: -25%;

      .right-container {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;

        .reverse {
          border-color: cyan;
        }

        .roll {
          border-color: cyan;
        }

        .circle {
          .note {
            background-color: cyan;
          }
        }
        .snear {
          border: 1px solid cyan;
        }
      }
    }
  }
}

.tag {
  color: rgb(111, 111, 111);
  font-family: "Yellowtail", cursive;
  transition: 0.8s 0.6s;
}

.skill-icons {
  transition: 0.8s 0.6s;
  display: flex;
  flex-wrap: wrap;
  width: 18%;

  i {
    font-size: 32pt;
    padding: 5px;
    transition: 0.4s ease;
    position: relative;
    margin-bottom: 15px;

    span {
      position: absolute;
      text-align: center;
      width: 130%;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 8pt;
      color: cyan;
      opacity: 0;
    }

    &:hover {
      color: cyan;
      transform: scale(1.4);

      span {
        opacity: 1;
      }
    }
  }
}

.h1-text {
  font-size: 36pt;
  transition: 0.8s 0.6s;

  strong {
    color: cyan;
  }
}

.p-text {
  width: 30%;
  transition: 0.8s 0.6s;
}

.contact-button {
  margin: 10px;
  transition: 0.8s 0.6s margin;
  padding: 8px 20px;
  font-size: 14pt;
  font-weight: 100;
  color: cyan;
  border: 1px solid cyan;
  background-color: transparent;
  outline: none;

  &:hover {
    background-color: cyan;
    color: rgb(30, 30, 30);
    box-shadow: 0 0 6px cyan;
    font-weight: 400;
    cursor: pointer;
  }
}

.active-page {
  left: 60px !important;

  .html {
    padding-left: 2%;
  }

  .body {
    padding-left: 5%;
  }

  .p {
    padding-left: 8%;
  }

  .text {
    margin-left: 11%;
  }
}

.page {
  top: 5vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.8s;
  position: absolute;
  left: -100%;
  width: 100%;
  height: 90vh;

  .pro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.about-page {
  .profile-pic {
    width: 160px;
    border: 1px solid cyan;
    transition: 0.8s 0.6s;
  }
}

.skills-page {
  z-index: 2;

  .pro-link {
    color: cyan;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .skills-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50vw;
    height: 50vw;
    background-color: rgba(cyan, 0.5);
    display: flex;
    overflow: hidden;
    align-items: center;

    .plane-gear {
      position: absolute;
      width: 50%;
      left: -27%;
      top: 25%;
      animation: rollrev 24s linear infinite;
    }
    .html-gear {
      position: absolute;
      width: 35%;
      left: 20%;
      top: 33%;
      animation: roll 18s linear infinite;
    }
    .css-gear {
      position: absolute;
      width: 20%;
      top: 19.5%;
      left: 40.5%;
      animation: rollrev 12s linear infinite;
    }
    .javascript-gear {
      position: absolute;
      width: 20%;
      bottom: 23.5%;
      left: 46.3%;
      animation: rollrev 12s linear infinite;
    }
    .svg-gear {
      position: absolute;
      width: 10%;
      top: 28.2%;
      left: 59%;
      animation: roll 9s linear infinite;
    }
    .scss-gear {
      position: absolute;
      width: 15%;
      top: 6%;
      left: 40.3%;
      animation: roll 9s linear infinite;
    }
    .react-gear {
      position: absolute;
      width: 17%;
      bottom: 15%;
      left: 34%;
      animation: roll 9s linear infinite;
    }
  }
}

.project-page {
  z-index: 2;

  .project-slider {
    width: 45%;
    height: 85%;
    margin-left: 2vw;
    position: relative;
    overflow: hidden;

    .overlay {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(30, 30, 30, 0.3);
      pointer-events: none;
    }
    .x0 {
      left: -50%;
      z-index: 0 !important;
    }

    .x1 {
      left: 0;
    }

    .x2 {
      left: 50%;
    }

    .x3 {
      left: 100%;
      z-index: 0 !important;
    }

    .x4 {
      left: 99.9%;
    }

    .y0 {
      top: -33.4%;
      z-index: 0 !important;
    }

    .y1 {
      top: 0;
    }

    .y2 {
      top: 33.4%;
    }

    .y3 {
      top: 66.7%;
    }

    .y4 {
      top: 100%;
      z-index: 0 !important;
    }

    .moving {
      z-index: 0 !important;
      top: -33.5%;
      left: -50%;
    }

    .pro {
      position: absolute;
      width: 50%;
      height: 33.4%;
      transition: 0.6s ease-in-out;
      background-size: cover;
      background-position: center;
      z-index: 1;

      .name {
        width: 100%;
        height: 100%;
        background-image: radial-gradient(
          rgba(30, 30, 30, 0.4),
          rgba(30, 30, 30, 0.7)
        );
        font-size: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s ease;

        .tools {
          width: 100%;
          text-align: center;
        }

        i {
          margin: 2%;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;
        }

        .cloud {
          position: relative;

          div {
            position: absolute;
            font-size: 8pt;
            color: rgb(160, 95, 106);
            top: 40%;
            left: 20%;
          }
        }
      }
    }
  }

  .pro-text {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
  }
}

.contact-page {
  z-index: 2;

  form {
    display: flex;
    flex-direction: column;
    transition: 0.8s 0.6s;
    width: 30%;
    position: relative;

    input {
      background-color: rgb(44, 44, 44);
      padding: 5px 10px;
      border: none;
      margin: 2px 0;
      outline: none;
      color: white;
      border-bottom: 2px solid rgb(44, 44, 44);
      transition: 2s ease;
      transition-property: margin border-bottom;

      &::placeholder {
        color: rgb(71, 71, 71);
      }

      &:focus {
        border-bottom: 2px solid cyan;
      }
    }

    textarea {
      background-color: rgb(44, 44, 44);
      color: white;
      padding: 5px 10px;
      border: none;
      border-bottom: 2px solid rgb(44, 44, 44);
      margin: 2px 0;
      outline: none;
      transition: 2s ease;
      resize: vertical;

      &::placeholder {
        color: rgb(71, 71, 71);
      }

      &:focus {
        border-bottom: 2px solid cyan;
      }
    }

    .button {
      color: cyan;
      background-color: transparent;
      border: 1px solid cyan;
      width: 20%;
      padding: 5px;
      margin-left: 80%;
      margin-top: 10px;
      font-weight: 100;

      &:hover {
        background-color: cyan;
        color: rgb(30, 30, 30);
        box-shadow: 0 0 6px cyan;
        font-weight: 400;
        cursor: pointer;
      }
    }
    #form-status {
      position: absolute;
      color: cyan;
      bottom: 2px;
      text-shadow: 1px 1px 12px cyan;
      text-align: center;
      font-size: 10pt;
      width: 80%;
      height: 28px;
      line-height: 28px;
    }
  }

  .map {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .contact-info {
    position: absolute;
    right: 35%;
    top: 35px;
    z-index: 1;
    background-color: rgb(22, 22, 22);
    padding: 10px 15px;
    line-height: 16pt;
    font-size: 11pt;
    font-weight: 100;

    .name {
      color: cyan;
      font-size: 16pt;
      font-weight: 900;
    }
  }
}

@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rollrev {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes string {
  6% {
    border-color: white transparent transparent transparent;
    height: 11px;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
  }

  12% {
    height: 1px;
    box-shadow: 0 0 4px white;
  }

  18% {
    border-color: transparent transparent white transparent;
    height: 11px;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
  }

  24% {
    height: 1px;
    box-shadow: 0 0 4px white;
  }

  30% {
    border-color: white transparent transparent transparent;
    height: 8px;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
  }

  36% {
    height: 1px;
    box-shadow: 0 0 4px white;
  }

  42% {
    border-color: transparent transparent white transparent;
    height: 8px;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
  }

  50% {
    border-color: white transparent transparent transparent;
    height: 5px;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
  }

  56% {
    height: 1px;
    box-shadow: 0 0 4px white;
  }

  62% {
    border-color: transparent transparent white transparent;
    height: 5px;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
  }

  68% {
    height: 1px;
    box-shadow: 0 0 4px white;
  }

  74% {
    border-color: white transparent transparent transparent;
    height: 2px;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
  }

  80% {
    height: 1px;
    box-shadow: 0 0 4px white;
  }

  86% {
    border-color: transparent transparent white transparent;
    height: 2px;
    border-radius: 100%;
    box-shadow: 0 0 4px white;
  }
}

@keyframes stringtwo {
  6% {
    border-color: cyan transparent transparent transparent;
    height: 10px;
    border-radius: 100%;
    box-shadow: 0 0 4px cyan;
  }

  12% {
    height: 1px;
    box-shadow: 0 0 4px cyan;
  }

  18% {
    border-color: transparent transparent cyan transparent;
    height: 10px;
    border-radius: 100%;
    box-shadow: 0 0 4px cyan;
  }

  24% {
    height: 1px;
    box-shadow: 0 0 4px cyan;
  }

  30% {
    border-color: cyan transparent transparent transparent;
    height: 7px;
    border-radius: 100%;
    box-shadow: 0 0 4px cyan;
  }

  36% {
    height: 1px;
    box-shadow: 0 0 4px cyan;
  }

  42% {
    border-color: transparent transparent cyan transparent;
    height: 7px;
    border-radius: 100%;
    box-shadow: 0 0 4px cyan;
  }

  50% {
    border-color: cyan transparent transparent transparent;
    height: 4px;
    border-radius: 100%;
    box-shadow: 0 0 4px cyan;
  }

  56% {
    height: 1px;
    box-shadow: 0 0 4px cyan;
  }

  62% {
    border-color: transparent transparent cyan transparent;
    height: 4px;
    border-radius: 100%;
    box-shadow: 0 0 4px cyan;
  }

  68% {
    height: 1px;
    box-shadow: 0 0 4px cyan;
  }

  74% {
    border-color: cyan transparent transparent transparent;
    height: 2px;
    border-radius: 100%;
    box-shadow: 0 0 4px cyan;
  }

  80% {
    height: 1px;
    box-shadow: 0 0 4px cyan;
  }

  86% {
    border-color: transparent transparent cyan transparent;
    height: 2px;
    border-radius: 100%;
    box-shadow: 0 0 4px cyan;
  }
}

@media (min-width: 2000px) {
  body {
    .left-container {
      right: 700px;
      width: 800px;
      height: 400px;
    }
  }
}

@media (max-width: 1500px) {
  body {
    .left-container {
      width: 500px;
      height: 250px;
      top: 300px;
      right: 10%;

      .click-to-play {
        width: fit-content;
        bottom: -100%;
        font-size: 10pt;
      }

      .right-container-container {
        left: 50%;
        bottom: -70%;
        transform: translate(-50%);
      }
    }

    .project-page {
      .project-slider {
        width: 50%;
      }

      .pro-text {
        left: 50%;
      }
    }

    .contact-page {
      .map {
        max-width: 55%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1200px) {
  body {
    .left-container {
      width: 450px;
      height: 225px;
      right: 10%;
    }

    .h1-text {
      font-size: 28pt;
    }

    .home-page {
      h1 {
        font-size: 30pt;
      }
    }

    .page {
      .pro-text {
        .skill-icons {
          i {
            font-size: 20pt;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  body {
    header {
      flex-direction: row;
      height: 60px;
      width: 100%;
      position: relative;

      nav {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        width: 80%;
        padding-left: 5%;

        i {
          span {
            display: block;
          }
        }
      }

      .socials {
        display: none;
      }
    }

    .mute-tag,
    .resume-tag {
      display: none;
    }

    .left-container {
      width: 300px;
      height: 150px;
      left: 50%;
      top: 70%;
    }

    .page {
      .p-text {
        width: 45%;
      }
      .skill-icons {
        width: 30%;
        i {
          font-size: 14pt;
        }
      }

      .skills-container {
        width: 35vw;
        height: 35vw;
      }

      .project-slider {
        height: 70%;
      }

      .pro-text {
        .p-text {
          width: 25%;
        }
        .skill-icons {
          i {
            font-size: 20pt;
            padding: 8px;

            span {
              font-size: 6pt;
              opacity: 1;
            }
          }
        }
      }

      .contact-info {
        display: none;
      }
      form {
        width: 70%;
      }

      .map {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    .active-page {
      left: 0 !important;
    }
    .skills-page {
      background-color: transparent;
    }
    .page {
      .p-text {
        width: 70%;
      }

      .skills-container {
        display: none;
      }

      .project-slider {
        top: 2%;
        width: 100%;
        height: 60%;
        .overlay {
          display: none;
        }
        .pro {
          .name {
            opacity: 1;
            font-size: 8pt;
            padding: 0;
            .tools {
              display: none;
            }
          }
        }
      }

      .pro-text {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    .left-container {
      width: 200px;
      height: 100px;
      top: 75%;
    }

    .page {
      .profile-pic {
        width: 100px;
      }
    }

    .skills-page {
      .skill-icons {
        width: 50%;
      }
    }
  }
}

@media (max-width: 480px) {
  body {
    header {
      nav {
        i {
          padding: 8px;
          font-size: 10pt;
          span {
            font-size: 6pt;
          }
        }
      }
    }

    .mute {
      font-size: 8pt;
      .mute-btn {
        font-size: 8pt;
      }
    }

    .page {
      .h1-text {
        font-size: 20pt;
      }
      .p-text {
        font-size: 9pt;
      }
    }

    .left-container {
      width: 150px;
      height: 75px;
      top: 75%;
      right: 5%;
    }
  }
}

@media (min-height: 950px) {
  body {
    .tag {
      font-size: 18pt;
    }
    .p-text {
      font-size: 20pt;
    }

    .h1-text {
      font-size: 54pt;
    }

    .mute {
      font-size: 16pt;
      .mute-btn {
        font-size: 16pt;
      }
    }

    .page {
      .contact-button {
        font-size: 20pt;
      }

      form {
        .button {
          font-size: 20pt;
        }
      }
      .map {
        transform: scale(0.8);
      }
    }
  }
}

@media (max-height: 1000px) {
  body {
    .tag {
      font-size: 12pt;
    }
    .p-text {
      font-size: 12pt;
    }
  }
}

@media (max-height: 650px) {
  body {
    header {
      nav {
        i {
          font-size: 12pt;
          span {
            font-size: 8pt;
            bottom: 1px;
          }
        }
      }
    }
    .page {
      top: 10vh;
      height: 80vh;
      .p-text {
        font-size: 8pt;
      }

      div {
        .img-tag,
        .profile-pic {
          display: none;
        }
      }

      form {
        input {
          font-size: 9pt;
          height: 30px;
        }
        textarea {
          height: 60px;
        }
      }
    }
  }
}

@media (max-height: 550px) {
  body {
    .left-container {
      top: 50%;
    }
    .page {
      top: 15vh;
      .tag {
        font-size: 7pt;
      }
      .h1-text {
        font-size: 24pt;
      }
    }
  }
}

@media (max-height: 450px) {
  body {
    .page {
      .h1-text {
        font-size: 16pt;
      }
      .contact-button {
        font-size: 10pt;
      }

      form {
        input {
          font-size: 6pt;
          height: 20px;
          &::placeholder {
            font-size: 6pt;
          }
        }
        textarea {
          font-size: 6pt;
          height: 30px;
          &::placeholder {
            font-size: 6pt;
          }
        }
      }
    }
  }
}
